<footer class="footer">
  <div class="container content has-text-centered">
    <div class="socials">
      <h2>\ Follow us ! /</h2>
      <a href="https://twitter.com/{{ site.twitter_id }}" target="_new"><i class="fab fa-twitter fa-3x"></i></a>
      <a href="{{ site.facebook_url }}" target="_new"><i class="fab fa-facebook fa-3x"></i></a>
      <a href="https://instagram.com/{{ site.instagram_id }}" target="_new"><i class="fab fa-instagram fa-3x"></i></a>
      <a href="https://github.com/{{ site.github_id }}" target="_new"><i class="fab fa-github fa-3x"></i></a>
    </div>

    <div class="footer-links">
      <a class="footer-link" href="/pages">ページ一覧</a>
      <a class="footer-link" href="/constitution">会則</a>
      <a class="footer-link" href="/visit-interview">見学・取材について</a>
      <a class="footer-link1" href="/f-and-q">よくある質問 (F&amp;Q)</a>
      <a class="footer-link" href="/privacy-policy">Privacy &amp; Policy（個人情報保護方針）</a>
    </div>
  
    <p>このサイトにおけるソースコードは <a href="https://github.com/coderdojo-konan/website">GitHub</a> 上で
      <a href="https://github.com/coderdojo-konan/website/blob/master/LICENSE">MIT</a> ライセンスの下で公開されています。</p>

    <p>Source code is licensed by <a href="https://github.com/coderdojo-konan/website/blob/master/LICENSE">MIT</a>. <br>
      Copyright © 2019 CoderDojo Konan</p>
  </div>
</footer>
