body {
  height: 100%;
  font-family: "Noto Sans JP",BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
  margin-bottom: .5rem;
}

.footer {
  background-color: $light;
  .socials {
    margin: 0 auto 1rem auto;

    a {
      margin: 0 0 0 .5rem;
    }

    svg {
      color: $primary;
    }
  }
}

@media screen and (max-width: 1050px) {
  .iframe-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
