body {
  height: 100%;
  font-family: "Noto Sans JP",BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
  margin-bottom: .5rem;
}

@media screen and (max-width: 1050px) {
  .iframe-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
