.navbar{
  background-color: transparent;
  color: $white;
  height: 5.0rem;
  a { color: $white }
  .navbar-brand {
    .navbar-item {
      font-weight: bolder;
    }
  }
  .navbar-item {
    font-size: 1.3rem;
    padding: 1rem;

    &:hover {
      background-color: rgba(250,250,250,0.1);
      color: $white;
    }
  }

  &.is-colored {
    background-color: $primary;
    color: #fff;
    a.navbar-item {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    .navbar-item {
      font-size: 1.2rem;
      padding: 1rem;
    }

    #navBurger {
      .navbar-item {
        color: $black;
}}
    &.is-colored {
      background-color: $primary;
	     a.navbar-item {color:#000;
	      &:hover {
	      color:#000;
      }
    }
    }
  }
}
