<section id="overview" class="main-section is-hidden has-background-primary has-text-centered has-text-white">
  <div class="container is-fluid">
    <h1 class="title has-text-white is-1">What's the CoderDojo? - CoderDojo とは</h1>
    <hr>
    <p class="has-text-white">
      <strong>CoderDojo</strong> は7〜17歳の子どもを対象にした無料で参加できるプログラミング道場(サークル)です。<br>
      2011年にアイルランドで始まり、世界では110カ国・1,900の道場、<br>
      日本では全国に178以上の道場があります。(2019/4/1現在)
    </p>

    <p class="has-text-white">
      各地のCoderDojoは、それぞれの有志がボランティアで運営していて、<br>
      CoderDojoでは、Ninja同士（参加している子供をNinjaといいます。）で教えあったり、<br>
      わからないことがあれば、現役プログラマーを中心としたメンターさんに質問したりできます。
    </p>
  </div>
</section>